/*
* {
    border: 1px solid red !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #006600;
}

main {
 /*   background-image: url('images/wmufieldbackground.jpg'); */
    background-image: url('images/soccerball.jpg');
    background-color: #006600;
    background-repeat: repeat-y;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

/*
img {
    max-width : 100%;
}
*/

h1 {
    font-weight: 100;
    font-size : 50px;
    color : #747704;
}


h2 {
    font-size : 30px;
    font-weight: normal;
    color : #BCBBBB;
}

h3 {
    font-size : 30px;
    font-weight: normal;
    color : #747704;
}

h4 {
    font-weight: normal;
    font-size : 15px;
    color : #747704;
}


@media screen and (max-width: 990px) {
        .projects {
            max-width : 75%;
        }
    }

 @media screen and (max-width: 500px) {
        .projects {
            width : 75%;
        }
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 15px;
        }
        h4 {
            font-size: 12px;
        }
    }



